# ----------------------------
# Python
# ----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# ----------------------------
# Data & Privacy
# ----------------------------
data/attendance.db
data/embeddings/

# ----------------------------
# OS / Editor
# ----------------------------
.DS_Store
Thumbs.db
.vscode/

# ----------------------------
# Logs
# ----------------------------
*.log
*.tmp
